# Ignora l'intera cartella del virtual environment
db/

# Ignora file di configurazione sensibili
PREPARAZIONE ALL'ESAME ( test )/TEMI ESERCIZI/ESERCITAZIONI/mysecrets.py
PREPARAZIONE ALL'ESAME ( test )/mysecrets.py
